body {
  margin: 0;
  // padding: 0;
  font-size: 62.5%;

}

.container {
  @media (device-width: 650px) {
    width: 400px;
    margin: 0 auto;
  }

  height: 700px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__header, &__nav, &__main, &__main__sidebar, &__main__content, &__footer {
    border: 1px solid black;
    padding: 10px;
    flex-grow: 1;

  }

  &__main {
    flex-grow: 9;
    display: flex;
    flex-direction: row;

    &__sidebar {
      flex-grow: 1;
    }
    &__content {
      flex-grow: 10;

      &__text {
        font-size: 30em;
        word-spacing: 0.9px;
        font-family: Helvetica, Arial;
        line-height: 0.95em;
      }
    }
  }

  &__header {
  }

  &__nav {
  }

}
